/* This stylesheet exclusively for Quiz view */
body {
	background-color: #000000;
	color: #ffffff;
}

.options {
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
  margin-right: 5px;
}

.optionA {
	background-color: #ff5973;
}
.optionB {
	background-color: #ffbb43;
}
.optionC {
	background-color: #79dbff;
}
.optionD {
	background-color: #49ffac;
}

.answers{
	font-weight: bold;
}

.realAnswer {
	color: #000000;
	padding-left: 3px;
}

