/* Background image and transluscent box */
body {
  background-image: url("../images/chalkboard.jpg");
  background-repeat: repeat;
}
.optionAtext {
  color: #ff5973;
}
.optionBtext {
  color: #ffbb43;
}
.optionCtext {
  color: #79dbff;
}
.optionDtext {
  color: #49ffac;
}
.wrap{ 
  position:relative;
  z-index:1;
  padding:50px
}

.wrap_background{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin-top: 20px;
  background-color:#000010;
  z-index:-1;
  opacity:0.6;
  filter: alpha(opacity = 60);
  border-radius:20px;
  -moz-border-radius:20px
}

.clickr_jumbotron {
  font-size: 60px;
  color: #ff5973;
}
.clickr {
  color: #ff5973;
  font-family: "DIN Alternate", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
a .clickr:hover{
  color: #bd3e52;
}

.header_right {
  text-align: right;
}

.inline {
  display: inline-block;
  width: 40px;
}