<div class="row">
	<div class="two columns">
		<h3 class="clickr"><span class="optionAtext">c</span><span class="optionBtext">l</span><span class="optionCtext">i</span><span class="optionDtext">c</span><span class="optionAtext">k</span><span class="optionBtext">r</span></h3>
	</div>
	<div class="three columns offset-by-seven columns header_right">
		<a href="#/home">My Account</a> &nbsp; 
		<a href="#/">Logout</a>
	</div>
</div>

<div class="row" ng-controller="dashboardController">
	<div class="six columns">
		<h5>My Quizzes</h5>
		<table class="u-full-width">
			<thead>
				<th>Title</th>
				<th>Code</th>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='quiz in quizzes | orderBy:"-created"'>
					<td ng-bind="quiz.title"></td>
					<td>12345</td>
					<td><a href="#/quiz/{{quiz._id}}" target="_blank">Begin Quiz</a></td>
					<td><a href="#/edit/{{quiz._id}}">Edit</a></td>
					<td><a href="" ng-click="removeQuiz(quiz)">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="four columns offset-by-two column">
		<h5>Create a new quiz</h5>
		<a href="#/create"><button class="button-primary">Create a New Quiz</button></a>
	</div>
</div>
</body>
</html>