<div class="row">
	<div class="twelve columns header_right">
		<a href="#/login">Login</a> &nbsp; 
		<a href="#/join">Register</a>
	</div>
</div>

<div class="row">
	<h1 class="clickr clickr_jumbotron"><span class="optionAtext">c</span><span class="optionBtext">l</span><span class="optionCtext">i</span><span class="optionDtext">c</span><span class="optionAtext">k</span><span class="optionBtext">r</span></h1>
	<p><b>clickr</b> allows teachers to quiz students and receive instant feedback. Teachers can quickly and easily gauge which concepts students grasp and which they struggle with, as quiz results are instantly displayed at the end of the quiz.
	</p>
</div>