<div ng-controller="quizController">
  <div class="wrap_background"></div>
    <div class="row">
      <div class="twelve columns">
        <h1>Timer: <span id="countdown">10</span></h1>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h3>{{quiz.question}}</h3>
        <h5 class="realAnswer optionD"></h5>
      </div>
    </div>

    <div class="row">
      <table class="u-full-width">
        <tbody>
          <tr>
            <td>
              <span class="options optionA">A</span> {{quiz.answerA}}
            </td>
            <td>
              <span class="answers answerA"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="options optionB">B</span> {{quiz.answerB}}
            </td>
            <td>
              <span class="answers answerB"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="options optionC">C</span> {{quiz.answerC}}
            </td>
            <td>
              <span class="answers answerC"></span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="options optionD">D</span> {{quiz.answerD}}
            </td>
            <td>
              <span class="answers answerD"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="six columns">
        <button class="startButton">Start Quiz</button>
      </div>
      <div class="six columns">
        <a href="next.html"><button class="nextButton">Next Question</button></a>
      </div>
    </div>
</div>